{% extends "BibliothequeBundle:Livre:layout.html.twig" %}

{% block module -%}
    <h1>Livre creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('livre') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
